<p>The class {{className}} has a new post. Please check it out at the link below!</p>
<p>
  <a href="{{ url }}">{{ url }}</a>
</p
<p>
  Post title:
  {{postTitle}}
</p>
<p>
  Description:
  {{postDescription}}
</p>
