<p>You have been invited to a meeting. Please check it out at the link below!</p>
<p>
  <a href="{{eventLink}}">{{eventLink}}</a>
</p>
<p>
  Event:
  {{eventName}}
</p>
<p>
  Content:
  {{eventContent}}
</p>
<p>
  Start:
  {{eventStart}}
</p>
<p>
  End:
  {{eventEnd}}
</p>