<p>Welcome {{name}}!</p>
<p>You have been invited to a meeting.</p>
<p>
  Event:
  {{event_name}}
</p>
<p>
  Content:
  {{event_content}}
</p>
<p>
  Start:
  {{event_start}}
</p>
<p>
  End:
  {{event_end}}
</p>